* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.containerPosted {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 40vw;
  padding: 20px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* Like */
.likeButton {
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}
.likeButtonIcon {
  font-size: 20px;
  color: red;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
}
.moreIcon {
  color: #999;
  cursor: pointer;
}
.moreIconContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.editBtn{
  display: flex;
  flex-direction: row;
}

/* Comment */
