*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.body-register {
    display: flex;
    justify-content: center;
    background-image: url("public/image/Authimage.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.header-logo{
    margin-top: 20%;
    color:black;
}
div .container-register{
    position: relative;
    top: 10%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;;
    height: 80vh;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* width: 30vw; */
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255 255 255 / 0.6);
    backdrop-filter: blur(20px);
    
}
form{
    display:flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 15px;
}
.register-form{
    
    height: 80vh;
    /* width: 25vw; */
    border-radius: 20px;
    padding-top:10px
}
.logo{
    font-size: 25px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center ;
}
.inputRounded .MuiOutlinedInput-root {
    border-radius: 20px;
    /* width: 20vw; */
}
.register-btn a{
    color: red;
}
h2{
    color: #38B6FF;
}



    

